mixin company-logo(modificator)
    div(class="company-logo " + modificator)
        img(src="https://i.ibb.co/P644Jvn/Rocket.png", width=16)
        img(src="https://i.ibb.co/vDBGQ1x/UXEPRESS.png", width=100)