include ../../../ui_kit/buttons/default-button.pug
div.slides_container
  div.slides
    divc.slider
      div.content
        div.content-txt
          h1 Срочная доставка день в день
          h2 Для тех, кто не может ждать у нас есть услуга срочной курьерской доставки корреспондеции и других видов отправлений.
          +default-button("slider-button", "Заказать доставку")
        div.content-img
          img(src="https://i.ibb.co/wJMzX4Y/Big-car.png")
    div.slider
      div.content
        div.content-txt
          h1 Подписание договора за 1 час
          h2 В течение часа наш курьер заберет вашу посылку и подпишет с Вами договор о предоставлении услуг.
          +default-button("slider-button", "Заказать доставку")
        div.content-img
          img#width(src="https://i.ibb.co/pbkJzdf/BlockNot.png")
div.switch
  ul
    li
      div.on
    li