header {
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}


.header_container {
    width: 98%;
    margin: 27px 1%;
    height: 52px;
    position: relative;
    text-align: center;

    * {
        display: inline-block;
    }

    img {
        vertical-align: middle;
        margin: 0px 0px;
    }
}

.header_img {
    vertical-align: middle;
    margin: 0px 14px;
}

.header_element {
    width: 49%;
}

.header_separator {
    vertical-align: middle;
    margin-left: 7%;
    margin-right: 2%;
    font-family: Proxima Nova;
    font-size: 13px;
    color: #A9C5E0;
}

.header_text {
    vertical-align: middle;
    text-align: left;
    font-family: Proxima Nova;
    font-size: 13px;
    line-height: 21px;
    width: 170px;
    margin: 0px 14px;
    color: #A9C5E0;
}