div.header_container
    div.header_element
        div.header_img
          img(src="https://i.ibb.co/P644Jvn/Rocket.png", width=16)
          img(src="https://i.ibb.co/vDBGQ1x/UXEPRESS.png", width=100)
        div.header_separator |
        div.header_text Курьерская служба доставки
    div.header_element
        div.header_text
          img(src="https://i.ibb.co/dLkqVW9/Phone.png", width=14)
          | &emsp; 8 (909) 023-12-51
        div.border_button Вход