.default-button {
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 18px;
    width: 170px;
    height: 52px;
    color: #E5E31F;
    border: 1px solid #E5E31F;
    box-sizing: border-box;
    border-radius: 10px;
}