@import "../buttons/default-button";
@import "../icons/company_logo/company-logo";

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    margin: 27px 1%;
    height: 52px;
    position: relative;
    text-align: center;

    * {
        display: inline-block;
    }

    img {
        vertical-align: middle;
        margin: 0px 0px;
    }
}

.header-img {
    vertical-align: middle;
    margin: 0px 14px;
}

.header-element {
    width: 49%;
}

.header-separator {
    vertical-align: middle;
    margin-left: 7%;
    margin-right: 2%;
    font-family: Proxima Nova;
    font-size: 13px;
    color: #A9C5E0;
}

.header-text {
    vertical-align: middle;
    text-align: left;
    font-family: Proxima Nova;
    font-size: 13px;
    line-height: 21px;
    max-width: 180px;
    margin: 0px 14px;
    color: #A9C5E0;
}

@media all and (max-width: 950px){
    .header-element:nth-child(1){
        display: flex;
        width: 75%;
        text-align: left;
    }
    .header-element:nth-child(2){
        display: flex;
        flex-direction: column;
        width: 24%;
        align-self: flex-start;

        .header-button{
            margin-left: auto;
        }
        .header-text{
            text-align: right;
            margin-top: 32px;
            margin-right: 0px !important;
            order: 99;
        }
    }
}
@media all and (max-width: 680px){
    .header-element:nth-child(1){
        width: 46% !important;
        .header-img{
            margin-right: 0px;
        }
        .header-separator{
            display: none;
        }
        .header-text{
            display: none;
        }
    }
    .header-element:nth-child(2){
        width: 50% !important;
        .header-text{
            display: none;
        }
    }
}