include ../buttons/default-button.pug
include ../icons/company_logo/company-logo.pug
div.header-container
    div.header-element
        +company-logo("header-img") 
        div.header-separator |
        div.header-text Курьерская служба доставки
    div.header-element
        div.header-text
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.10679 0.399493L5.41929 3.46199C5.47505 3.59282 5.4868 3.73822 5.45277 3.8763C5.41874 4.01438 5.34078 4.13768 5.23062 4.22762L3.57359 5.58387C4.57716 7.71238 6.29012 9.42534 8.41863 10.4289L9.77488 8.77188C9.86465 8.66149 9.98795 8.58337 10.1261 8.54933C10.2642 8.51528 10.4097 8.52717 10.5405 8.5832L13.603 9.8957C13.744 9.9572 13.8591 10.066 13.9285 10.2032C13.9979 10.3405 14.0172 10.4977 13.9831 10.6477L13.3268 13.4914C13.2934 13.636 13.212 13.765 13.0959 13.8574C12.9797 13.9498 12.8357 14 12.6873 14C5.67359 14 -0.000238667 8.31524 -0.000238973 1.3125C-0.000334347 1.16405 0.0499081 1.01995 0.142283 0.903732C0.234659 0.787518 0.363707 0.706059 0.508355 0.672657L3.3521 0.0164065C3.50282 -0.0174642 3.66062 0.00225685 3.79837 0.0721764C3.93611 0.142096 4.04517 0.257841 4.10679 0.399493Z" fill="#A9C5E0"/>
            </svg>
            | &emsp; 8 (909) 023-12-51
        +default-button("header-button", "Вход")
        