form.news_form(action="")
    textarea(name="news_text_area", cols="30", rows="10", placeholder = "Введите информацию в текстовое поле")
    br
    input#image_select(type="file")
    .imgae_select
        img(src="https://c.radikal.ru/c37/1911/94/2797f15a58ac.png" height="21px")
        label.image_select_label(for="image_select") + Добавить изображение