doctype.html
html
    head
        meta(charset='utf-8')
        title admin
        link(rel="stylesheet" href="index.scss") 
    body
    header
        include header/header.pug
    .main
        .form
            h1 Добавить новость
            div.description Введите текст новости, а также приложите изображение (размер: 270х270px)
            include body/news_form/news_form.pug
    footer