@import "body/slider/slider";
@import "../ui_kit/header/header";
@import "body/steps/step";
@import "../ui_kit/footer/footer-container";
@import "body/registration-form/registration-form";
@import "../ui_kit/fonts/Proxima_Nova/proxima";
@include font("../ui_kit/fonts/Proxima_Nova/");
*{
    font-family: Proxima Nova;
}

body{
    margin: 0 0;
}

header {
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.steps-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.main-header{
    font-weight: bold;
    font-size: 28px;
    color: #2A496B;
    margin-top: 96px;
    text-align: center;
}

.pushed-down{
    background: grey !important;
    border: 1px solid grey;
    color: rgb(230, 228, 130);
}

@media all and (max-width: 950px){
    .header-element:nth-child(1){
        display: flex;
        width: 75%;
        text-align: left;
    }
    .header-element:nth-child(2){
        display: flex;
        flex-direction: column;
        width: 24%;
        align-self: flex-start;

        .header-button{
            margin-left: auto;
        }
        .header-text{
            text-align: right;
            margin-top: 32px;
            margin-right: 0px !important;
            order: 99;
        }
    }
}